*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}


html, body{
    width: 100%;
}


.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow:0 50px 15px  rgba(0, 0, 0, 0.2);
}

.navbar{
    display: flex;
    /* gap: 20px; */
}

.navbar > li{
    list-style: none;
    padding: 0 20px;
}

.navbar > li > a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 2s ease;
}

.navbar > li > a:hover{
    color: blue;
}
 .section-p1{
    text-align: center;   
    
}


 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    
    
}

 .pro-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
}
 .pro img {
    width: 100%;
    border-radius: 20px;
    
}